<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  Basic Appointment Web Application made with Node.js, Express, EJS, Mongoose and NodeMailer. Source code: 
</body>
</html>